<!DOCTYPE html>
<html>
<style>
  .center {
    text-align: center;
  }
</style>
<header class="center">Battletech-Search</header>
<body>
<form class="center" action="/search/">
  <input style="width:500px" type="text" id="query" name="query"><br><br>
  <input type="submit" value="Search">
</form>
</body>

<table>
  /* define headers
  unit, designation, Sarna link
  https://www.baeldung.com/thymeleaf-list
  should tell me how to make sure that the templating works correctly for a list of objects.
  https://www.baeldung.com/spring-mvc-model-model-map-model-view
  Should tell me how to make spring return this from my search results
  */

</table>

</html>